

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
}
.grid-btn{
    border: solid 1px black;
    background-color: red;
    content: ' ';
    width: 3rem;
    height: 3rem;
}
.input-row{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: auto;
}
.input-btn{
    
}
h1{

}