*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 0;
}

.grid{
    display: grid;
    border: black solid 1px;
    width: 800px;
    height: 800px;
}
.grid-btn{
    border: solid 1px black;
    background-color: white;
    height: 100%;
    width: 100%;
}
.input-row{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: auto;
}
.input-btn{
    
}
h1{

}